@page "/contact"

@using Microsoft.Extensions.Logging
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Models
@inject ILogger<Contact> Logger

<ContactUsBanner HeadingText="Spring is just around the corner" ParagraphText="Some quick example text" ButtonText="Contact Us" ButtonUrl="/contact" HideButton="true"/>

<section id="promotional-text" class="m-2 break-banner">
    <div class="row">        
        <div class="col-lg-12 col-md-12 text-center break-banner">
            <p>Professional horticulturists offering exceptional service</p>
        </div>        
    </div>
</section>
<br />

<div class="row">
    <div class="col-sm-6">
        <div id="map" style="height:500px;width:100%;"></div>
    </div>
    <div class="col-sm-6">
        <MudCard>
            <MudForm Model="@model" @ref="@form">
                <MudCardContent>
                    <MudTextField @bind-Value="model.FirstName" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.FirstName)" Immediate="true" Label="First Name" />
                    <MudTextField @bind-Value="model.LastName" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.LastName)" Immediate="true" Label="Last Name" />
                    <MudTextField @bind-Value="model.ContactNumber" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.ContactNumber)" Immediate="true" Label="Contact Number" />
                    <MudTextField @bind-Value="model.EmailSubject" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.EmailSubject)" Immediate="true" Label="Message Title" />
                    <MudTextField @bind-Value="model.EmailBody" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.EmailBody)" Immediate="true" Label="Message" />
                </MudCardContent>
            </MudForm>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await HandleSubmit())">Send</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</div>


