@page "/contact"

@using Microsoft.Extensions.Logging
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Models
@inject ILogger<Contact> Logger


<div class="ml-auto w-100 justify-content-center d-none d-sm-block pb-2" style="align-items: center; text-align: center;">
    <h5 class="slogan-text m-0">Contact Us</h5>
</div>

<div class="row carousel-width p-2">
    <div class="col">
        <div id="map" style="height:325px;width:100%;"></div>
    </div>
</div>
<MudDivider />

<div class="row pt-3">
    <div class="col desktop-article">
        <MudCard>
            <MudForm Model="@model" @ref="@form">
                <MudCardContent>
                    <MudTextField @bind-Value="model.FirstName" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.FirstName)" Immediate="true" Label="First Name" />
                    <MudTextField @bind-Value="model.LastName" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.LastName)" Immediate="true" Label="Last Name" />
                    <MudTextField @bind-Value="model.ContactNumber" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.ContactNumber)" Immediate="true" Label="Contact Number" />
                    <MudTextField @bind-Value="model.EmailSubject" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.EmailSubject)" Immediate="true" Label="Title" />
                    <MudTextField @bind-Value="model.EmailBody" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.EmailBody)" Immediate="true" Label="Message"  Lines="3" />
                </MudCardContent>
            </MudForm>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary"
                           Class="ml-auto" OnClick="@(async () => await HandleSubmit())" Style="@($"background-color:{Colors.Teal.Darken1};")">Confirm</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</div>


