@page "/contact"

@inject ILogger<Contact> Logger

<div class="ml-auto w-100 justify-content-center d-none d-sm-block pb-2" style="align-items: center; text-align: center;">
    <h5 class="m-0">Contact Us</h5>
</div>

<section id="promotional-text" class="break-banner">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center break-banner" style="font-size: 1.5em">
                    <p>We work in Milverton, Somertset</p>
                </div>
            </div>
</section>

<div class="row">
    <div class="col">
        <div id="map" style="height:325px;width:100%;"></div>
    </div>
</div>
<MudDivider />

<div class="row pt-3">
    <div class="col desktop-article">
        <MudCard>
            <section id="promotional-text" class="break-banner">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center break-banner" style="font-size: 1.5em">
                    <p>Send us a query about your garden</p>
                </div>
            </div>
            </section>
            <MudForm Model="@model" @ref="@form">
                <MudCardContent>
                    <MudTextField @bind-Value="model.FirstName" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.FirstName)" Immediate="true" Label="First Name" />
                    <MudTextField @bind-Value="model.LastName" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.LastName)" Immediate="true" Label="Last Name" />
                    <MudTextField @bind-Value="model.ContactNumber" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.ContactNumber)" Immediate="true" Label="Contact Number" />
                    <MudTextField @bind-Value="model.EmailSubject" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.EmailSubject)" Immediate="true" Label="Title" />
                    <MudTextField @bind-Value="model.EmailBody" Validation="@(orderValidator.ValidateValue)"
                                  For="@(() => model.EmailBody)" Immediate="true" Label="Message"  Lines="3" />
                </MudCardContent>
            </MudForm>
            <MudCardActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary"
                           Class="ml-auto" OnClick="@(async () => await HandleSubmit())" Style="@($"background-color:{Colors.Teal.Darken1};")">Confirm</MudButton>
            </MudCardActions>
        </MudCard>
    </div>
</div>


