@using KatiesGarden.Web.Client.Models

<div class="m-1 background-colour-primary">
    <div class="image-container">
        <div class="crop">
            <MudCarousel Class="carousel-width w-100 h-25" ShowArrows="@arrows" ShowDelimiters="@delimiters" AutoCycle="@autocycle" TData="object">                
                <ChildContent>
                    <MudCarouselItem Transition="transition" Color="@transitionColour">
                        <div class="d-flex">
                            <img class="d-block" style="max-height: 100%; max-width: 100%; object-fit: contain;" src="@imageFolderPath/@Images.Carousel[0]" alt="Katies Garden">
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="transition" Color="@transitionColour">
                        <div class="d-flex">
                            <img class="d-block w-100" src="@imageFolderPath/@Images.Carousel[1]" alt="Katies Garden">
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="transition" Color="@transitionColour">
                        <div class="d-flex">
                            <img class="d-block w-100" src="@imageFolderPath/@Images.Carousel[2]" alt="Katies Garden">
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="transition" Color="@transitionColour">
                        <div class="d-flex">
                            <img class="d-block w-100" src="@imageFolderPath/@Images.Carousel[3]" alt="Katies Garden">
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="transition" Color="@transitionColour">
                        <div class="d-flex">
                            <img class="d-block w-100" src="@imageFolderPath/@Images.Carousel[4]" alt="Katies Garden">
                        </div>
                    </MudCarouselItem>                    
                </ChildContent>
            </MudCarousel>
            @*<div class="center-right image-text bg-white">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@HeadingText</h5>
                        <p class="card-text">@ParagraphText</p>
                        @if(!HideButton){
                            <a href="@ButtonUrl" class="button-primary btn btn-info contact-button">@ButtonText</a>
                        }                        
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>

@code{
    private MudCarousel<string> _carousel;


    private string imageFolderPath = "Images/ImagesWeLike/Compressed/Backgrounds/Carousel";

    private int imageWidthNumber = Convert.ToInt32(518 * sizeMultiple);
    private string imageWidth = "100%";

    private int imageHeight = Convert.ToInt32((518 / sizeMultiple) * ratio);

    private const double sizeMultiple = 1.5;
    private const double ratio = 1.50149;

    private bool arrows = false;
    private bool delimiters = false;
    private bool autocycle = true;
    private Transition transition = Transition.Fade;
    private Color transitionColour = Color.Transparent;
    private int numberOfImages = 0;

    public ContactUsBanner() => numberOfImages = Images.Carousel.Count();

    [Parameter]
    public string ButtonUrl { get; set; }

    [Parameter]
    public string HeadingText { get; set; }

    [Parameter]
    public string ParagraphText { get; set; }

    [Parameter]
    public string ButtonText { get; set; }

    [Parameter]
    public bool HideButton { get; set; }
}